{% extends 'base.html' %}
{% block tittle %} Home {% endblock tittle%}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index_main.css'%}" type="text/css">

<div class="container-fluid row" >
    <div class="col-md-6" >
      <img src="/static/img/b.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col-md-6">
      <img src="/static/img/holidays.jpg" class="card-img-top" alt="...">\
    </div>
</div>
<div class="index_div hea">
  <h1>Happiness Matter</h1>
  <p class="index_div">hello</p>
</div>
{% endblock body%}
