h1{
	color: red;
}

#profile-wraper{
	text-align: center;
}

#profile-pic{
	height: 350px;
	width: 250px;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}

.social-links{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}